<!DOCTYPE html>
<html>
<head>
    <title>JSON to YAML Converter</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/layui/2.5.6/css/layui.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/prism/1.23.0/themes/prism-okaidia.min.css">
</head>
<body>
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md6">
                <div class="layui-form layui-form-pane">
                    <fieldset class="layui-elem-field">
                        <legend>JSON</legend>
                        <div class="layui-field-box">
                            <textarea id="jsonTextarea" class="layui-textarea" rows="10" style="height: 300px;"></textarea>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form layui-form-pane">
                    <fieldset class="layui-elem-field">
                        <legend>YAML</legend>
                        <div class="layui-field-box">
                            <pre id="yamlTextarea" class="layui-code" style="height: 300px;"></pre>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md-offset3 layui-col-md6">
                <div class="layui-form layui-form-pane">
                    <button id="convertBtn" class="layui-btn layui-btn-normal">Convert</button>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdn.staticfile.org/layui/2.5.6/layui.js"></script>
<script src="https://cdn.staticfile.org/prism/1.23.0/prism.min.js"></script>
<script src="https://cdn.staticfile.org/prism/1.23.0/components/prism-yaml.min.js"></script>
<script>
    layui.use(['form', 'jquery'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        let MODULE_PATH = "{{ url_for('system.json_to_yaml.main') }}"


        $('#convertBtn').click(function () {
            var json = $('#jsonTextarea').val();
            $.post(MODULE_PATH + '/convert', {json: json}, function (data) {
                $('#yamlTextarea').html('<code class="language-yaml">' + data + '</code>');
                Prism.highlightAll();
            });
        });
    });
</script>
</body>
</html>