<!DOCTYPE html>
<html>
<head>
    <title>客户使用环境版本管理</title>
    {% include 'system/common/header.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='system/admin/css/other/preview_add.css') }}"/>
</head>
{% include 'system/common/footer.html' %}

<body>
    <div class="layui-container">
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="200">
            </colgroup>
            <thead>
            <tr>
                <th>部署时间</th>
                <th>部署类型</th>
                <th>部署客户</th>
                <th>部署环境</th>
                <th>部署数据</th>

                <!-- 其他列头 -->
            </tr>
        </thead>
        <tbody>
            {% for row  in data %}
            <tr>
                <td>{{ row .create_at }}</td>
                <td>{{ row .type }}</td>
                <td>{{ row .name }}</td>
                <td>{{ row .hostip }}</td>
                <td>{{ row .DATA }}</td>

                <!-- 其他字段 -->
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- 引入 Layui JS 文件 -->
</body>
</html>
