<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>部署单个</title>
    {% include 'system/common/header.html' %}
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">编号</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ preview.id }}" name="previewId" lay-verify="title"
                               autocomplete="off" placeholder="请输入标题" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">部署环境</label>
                    <div class="layui-input-block">
                        <input type="text" value="192.168.30.82" name="dev" lay-verify="title"
                               autocomplete="off" placeholder="请输入标题" class="layui-input">
                    </div>
                </div>
                <div class="layui-form">
                    <label class="layui-form-label">请选择组件</label>
                    <div class="layui-input-block">
                        <select lay-filter="demo-select-filter" name="module">
                            <option value="">请选择</option>
                            <option value="CMDBTAG">CMDBTAG</option>
                            <option value="EVENTTITAG">EVENTTITAG</option>
                            <option value="GWAYTAG">GWAYTAG</option>
                            <option value="HTTPDTAG">HTTPDTAG</option>
                            <option value="INET_CLIENTTAG">INET_CLIENTTAG</option>
                            <option value="INET_CLIENT_JAVATAG">INET_CLIENT_JAVATAG</option>
                            <option value="INET_NGPARSERTAG">INET_NGPARSERTAG</option>
                            <option value="INET_PLATFORMTAG">INET_PLATFORMTAG</option>
                            <option value="INET_WORKFLOWTAG">INET_WORKFLOWTAG</option>
                            <option value="JSON_ADAPTORTAG">JSON_ADAPTORTAG</option>
                            <option value="LOGSYSTEMTAG">LOGSYSTEMTAG</option>
                            <option value="NETCTAG">NETCTAG</option>
                            <option value="NETDTAG">NETDTAG</option>
                            <option value="NGINXTAG">NGINXTAG</option>
                            <option value="PIPELINETAG">PIPELINETAG</option>
                            <option value="TRIGGERTAG">TRIGGERTAG</option>
                            <option value="POLICYINSIGHTTAG">POLICYINSIGHTTAG</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">镜像版本</label>
                    <div class="layui-input-block">
                        <input type="text" name="image" lay-verify="title"
                               autocomplete="off" placeholder="请输入镜像版本"
                               class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="button-container">
                <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                        lay-filter="user-update">
                    <i class="layui-icon layui-icon-ok"></i>
                    提交
                </button>
                <button type="reset" class="pear-btn pear-btn-sm">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </div>
</form>
{% include 'system/common/footer.html' %}
<script>
    layui.use(['form', 'jquery', 'dtree'], function () {
        let form = layui.form
        let $ = layui.jquery
        let dtree = layui.dtree

        form.on('submit(user-update)', function (data) {
            $.ajax({
                url: '/system/preview/deploy_one_put',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'post',
                success: function (result) {
                    if (result.success) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name))//关闭当前页
                            parent.layui.table.reload('user-table')
                        })
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000})
                    }
                }
            })
            return false
        })
    })
</script>
</body>
</html>